*.class

#Maven build files #
/target/
/bin/

# Eclipse project files #
/.classpath
/.project
/.settings

# webMethods libraries #
/lib/internalRepoOnly/*.jar

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
